/*Animations*/

/*Float*/

@keyframes floating-middle-new {
  0%, 100% {
    transform: rotate(-0.5deg) translate(-50%, -51%);
  }
  60% {
    transform: rotate(0.5deg) translate(-50%, -49%);
  }
}

@keyframes floating-middle-lose {
  0%, 100% {
    transform: rotate(-2deg) translate(-50%, -51%);
  }
  60% {
    transform: rotate(4deg) translate(-50%, -49%);
  }
}

@keyframes float-link {
  0% {

  }
}

/*Flip*/

@keyframes flip-in {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }

  100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
  }
}

@keyframes flip-out {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }

  100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
  }
}


/*Slide*/

@keyframes slide-right {
  0% {
    transform: translateX(-500%);
  }

  100% {
    transform: translateX(0%);
  }

}

@keyframes slide-left {
  0% {
    transform: translateX(500%);
  }

  66% {
    transform: translateX(500%);
  }

  100% {
    transform: translateX(0%);
  }

}

/*Grow*/

@keyframes grow-sub {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes grow-link {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*Rattle*/

@keyframes rattle-expl {
  0% {
    transform: rotateZ(-5deg);
  }

  50% {
    transform: rotateZ(5deg);
  }

  100% {
    transform: rotateZ(-5deg);
  }

}
