/*Float*/

@keyframes floating-middle {
  0%,100% {
    transform: rotate(-0.5deg) translate(-50%, -51%);
  }
  60% {
    transform: rotate(0.5deg) translate(-50%, -49%);
  }
}

/*Flip*/

@mixin flip-animation($startRotation, $targetRotation) {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, $startRotation + 0deg);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, $targetRotation - 90deg);
  }

  60%, 100% {
    transform: perspective(400px) rotate3d(0, 1, 0, $targetRotation + 0deg);
  }

  70% {
    transform: perspective(400px) rotate3d(0, 1, 0, $targetRotation + 20deg);
  }

  80 {
    transform: perspective(400px) rotate3d(0, 1, 0, $targetRotation - 10deg);
  }

  90% {
    transform: perspective(400px) rotate3d(0, 1, 0, $targetRotation + 10deg);
  }
}

@keyframes flip-in-y {
  @include flip-animation(0, 0);
}

@keyframes flip-out-y {
  @include flip-animation(0, 180);
}
